@import 'tailwindcss';
@import 'tw-animate-css';
@plugin '@toolwind/corner-shape';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

:root {
  --background: #f2f2f2;
  --foreground: #000;
  --primary: #ee4822;
  --secondary: #3f3f47;

  --radius: 0.4rem;
  --expo-in: linear(
    0 0%,
    0.0085 31.26%,
    0.0167 40.94%,
    0.0289 48.86%,
    0.0471 55.92%,
    0.0717 61.99%,
    0.1038 67.32%,
    0.1443 72.07%,
    0.1989 76.7%,
    0.2659 80.89%,
    0.3465 84.71%,
    0.4419 88.22%,
    0.554 91.48%,
    0.6835 94.51%,
    0.8316 97.34%,
    1 100%
  );
  --expo-out: linear(
    0 0%,
    0.1684 2.66%,
    0.3165 5.49%,
    0.446 8.52%,
    0.5581 11.78%,
    0.6535 15.29%,
    0.7341 19.11%,
    0.8011 23.3%,
    0.8557 27.93%,
    0.8962 32.68%,
    0.9283 38.01%,
    0.9529 44.08%,
    0.9711 51.14%,
    0.9833 59.06%,
    0.9915 68.74%,
    1 100%
  );
}

.dark {
  --background: #171717;
  --foreground: #fff;
  --secondary-bg: #262626;
  --secondary: #d4d4d4;
}

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-neutral-700) transparent;
  }

  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
  }

  html[data-base-ui-scroll-locked] {
    scroll-behavior: auto;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    overscroll-behavior: none;
  }

  .root {
    isolation: isolate;
    min-height: 100vh;
  }

  ::-webkit-scrollbar {
    width: 2px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-neutral-700);
    border-radius: 6px;
  }

  ::view-transition-group(root) {
    animation-timing-function: var(--expo-out);
  }

  ::view-transition-new(root) {
    mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><defs><filter id="blur"><feGaussianBlur stdDeviation="2"/></filter></defs><circle cx="0" cy="0" r="18" fill="white" filter="url(%23blur)"/></svg>')
      top left / 0 no-repeat;
    mask-origin: content-box;
    animation: scale 1s;
    animation-fill-mode: both;
    transform-origin: top left;
  }

  ::view-transition-old(root),
  .dark::view-transition-old(root) {
    animation: scale 1s;
    animation-fill-mode: both;
    transform-origin: top left;
    z-index: -1;
  }

  @keyframes scale {
    to {
      mask-size: 350vmax;
    }
  }
}
